﻿<footer class="footer">
	<div class="container-fluid">
		<nav class="pull-left">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="/Setting/Index">
						Ayarlar
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/Default/Index">
						Ana Sayfa
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright ml-auto">
			@DateTime.Now.Year | Tüm Hakları Saklıdır.
		</div>
	</div>
</footer>